[MASTER]
disable =
  attribute-defined-outside-init,
  bad-continuation,
  invalid-name,
  missing-class-docstring,
  missing-function-docstring,
  missing-module-docstring,
  no-init,
  no-else-continue,
  no-else-return,
  too-few-public-methods,
  unidiomatic-typecheck

indent-string='  '

[TYPECHECK]
ignored-modules = lib2to3.pygram
