# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  test-3.6: &test
    working_directory: ~/repo
    docker:
      - image: python:3.6

    steps:
      - checkout
      - run:
          name: Install
          command: pip install -q pytest pytest-cov pylint .

      - run:
          name: Tests
          command: pytest --cov=./src/pydoc_markdown && coverage html

      - run:
          name: Linting
          command: pylint src || true

      - store_artifacts:
          path: .coverage

      - store_artifacts:
          path: htmlcov

  test-3.7:
    <<: *test
    docker:
      - image: python:3.7

  test-3.8:
    <<: *test
    docker:
      - image: python:3.8

  trial-publish:
    docker:
      - image: python:3.6
    steps:
      - checkout
      - run: pip install -q nr.shore==0.0.36
      - run: shore --version
      - run: shore verify --tag "$CIRCLE_TAG"
      - run: shore publish pypi -l
      - run: shore publish pypi --test --skip-existing

  publish:
    docker:
      - image: python:3.6
    steps:
      - checkout
      - run: pip install -q nr.shore==0.0.36
      - run: shore --version
      - run: shore verify --tag "$CIRCLE_TAG"
      - run: shore publish pypi -l
      - run: shore publish pypi

  docs:
    docker:
      - image: python:3.6
    steps:
      - add_ssh_keys:
          fingerprints:
            - "3b:59:4f:dc:60:58:c5:3c:85:41:c1:a1:1f:a8:6f:4d"
      - checkout
      - run: pip install -q . mkdocs mkdocs-material
      - run: pydoc-markdown
      - run: |
          if [[ "$CIRCLE_TAG" != "" ]]; then
            mkdocs gh-deploy -f docs/build/mkdocs.yml
          fi
      - run: |
          echo "use_directory_urls: false" >> docs/build/mkdocs.yml
          mkdocs build -f docs/build/mkdocs.yml
      - store_artifacts:
          path: docs/build/site
          destination: site


workflows:
  version: 2
  test:
    jobs:
      - docs
      - test-3.6:
          filters: { tags: { only: /.*/ } }
      - test-3.7:
          filters: { tags: { only: /.*/ } }
      - test-3.8:
          filters: { tags: { only: /.*/ } }
      - trial-publish:
          filters: { tags: { only: /.*/ }, branches: { ignore: /.*/ } }
          requires: [ test-3.6, test-3.7, test-3.8 ]
      - publish:
          filters: { tags: { only: /.*/ }, branches: { ignore: /.*/ } }
          requires: [ trial-publish ]
